 body{
          background-image: url(background.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;

        }
       .head{
        width: 100%;
        height: 25vh;
       }
      .searching{
        position: relative;
        top: 5vh;
        display: flex;
        text-align: center;
      }
      .button1{
transition: all .4s ease;
width: 100%;
height: 30px;
margin-top: 0;
cursor: pointer;
background-color:#ebeced;
text-decoration: none;
line-height: 30px;
color: black;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
  }
    .button1:hover{
        background-color: #f7f7f7 ;
        transform: scale(1.15);
    }
    .button1:active{
        background-color: #b2b2b2;
        color: whitesmoke;
    }
    .winged{
      transition: all .4s ease;
      margin-top: 7vh;
      width: 300px;
      height: 400px;
      margin-left: 15vh;
    }
    .winged:hover{
      transform:scale(1.07)
    }
  
    .rule{
      transition: all .4s ease;
      margin-top: 7vh;
      width: 300px;
      height: 400px;
      margin-left: 10vh;
    }
    .rule:hover{
      transform:scale(1.07)
    }
    .products{
      display: flex;
      flex-wrap: wrap;
    }
    .btf{
      transition: all .4s ease;
      margin-top: 7vh;
      width: 300px;
      height: 400px;
      margin-left: 10vh;
    }
    .btf:hover{
      transform:scale(1.07);
    }
    .compass{
      transition: all .4s ease;
      margin-top: 7vh;
      width: 300px;
      height: 400px;
      margin-left: 15vh;
    }
    .compass:hover{
      transform:scale(1.07);
    }
    .mig29{
      transition: all .4s ease;
      margin-top: 7vh;
      width: 300px;
      height: 400px;
      margin-left: 10vh;
    }
    .mig29:hover{
      transform:scale(1.07);
    }
    .compasshoodie{
      transition: all .4s ease;
      margin-top: 7vh;
      width: 300px;
      height: 400px;
      margin-left: 10vh;
    }
    .compasshoodie:hover{
      transform:scale(1.07);
    }